---
import RouteSearch from "../components/RouteSearch.vue";
import Layout from "../layouts/Layout.astro";
import Graph from "../components/Graph.vue";
import RandomRoute from "../components/RandomRoute.vue";
---

<Layout title="Welcome">
  <main>
    <div><RouteSearch client:only="vue" /></div>
  </main>
</Layout>

<style></style>

<script></script>
