---
import RouteSearch from "../components/RouteSearch.vue";
import Layout from "../layouts/Layout.astro";
import Graph from "./Graph.vue";
---

<Layout title="Welcome">
  <main>
    <div><RouteSearch client:only="vue" /></div>
    <!-- <div><Graph client:load /></div> -->
  </main>
</Layout>

<style></style>

<script></script>
