---
import Layout from "../../layouts/Layout.astro";

import { nodes } from "../../nodes/all";
const locations = [...nodes];
locations.sort();
---

<Layout title="Locations">
  <div>
    We currently have {locations.length} Locations
    {
      locations.map((location) => (
        <li>
          <a href={`/locations/${location}`}>{location}</a>
        </li>
      ))
    }
  </div>
</Layout>

<style scoped></style>
