---
import { nodes } from "../../nodes/all";

const locations = [...nodes];

locations.sort();
---

<div>
  We currently have {locations.length} Locations
  {locations.map((location) => <li>{location}</li>)}
</div>
