---
import Footer from "../components/Footer.vue";
import Header from "../components/Header.vue";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="ESO Crow helps you navigate The Elder Scrolls Online"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="author"
      content="ESO Crow"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/fav/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/fav/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/fav/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/fav/site.webmanifest"
    />

    <title>{title} - ESO Crow</title>
  </head>

  <body
    ><Header client:only="vue" />
    <div class="body-container">
      <slot />
    </div>
    <Footer />
  </body>

  <style is:global>
    :root {
      --dc-image: url(/images/daggerfall.png);
      --ep-image: url(/images/ebonheart.png);
      --ad-image: url(/images/aldmeri.png);

      --dlc-image: url(/images/dlc.png);
      --expansion-image: url(/images/expansion.png);
      --neutral-image: url(/images/neutral.png);
    }
    :root {
      --dc: rgb(0, 100, 150);
      --ep: rgb(165, 20, 15);
      --ad: rgb(169, 110, 22);

      --dlc: green;
      --expansion: pink;
      --neutral: lightgray;
    }
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background: var(--gray-800);
      background-size: 224px;
      color: aliceblue;
    }
    body {
      margin: 0px;
      min-height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr auto;
    }

    a {
      color: white;
    }

    a:hover {
      color: gold;
    }

    a:visited {
      color: wheat;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    .body-container {
      /* outline: 1px solid #555; */
      padding: 20px;
      margin: 30px 8px;
    }
  </style>
</html>
